*.terraform.lock.hcl
*.terraform
*terraform.
*.idea
*.terraform
*terraform.
*.idea
.terraform.
*.terraform.lock.hcl
*terraform.tfstate
*terraform.tfstate.backup
# Compiled files
*.tfstate
*.tfstate.backup
*.pem
# Module directory
.terraform/
*.hcl